#container {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 400px;
    background-color: lightskyblue;
    border-radius: 10px;
}

#display {
    height: 100px;
    width: 230px;
    border: 5px;
    background-color: lightgray;
    margin: 10px 10px 10px 10px;
    vertical-align: center;
    display: flex;
    align-items: center;
    justify-items: right;
    border-radius: 10px;
}

p {
    font-size: 50px;
    text-align: right;
    width: 100%;
    padding: 10px;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* height: 40px; */
}

#top-buttons {
    padding: 0px 10px 0px 10px;
}

#second-buttons {
    padding: 0px 10px 0px 10px;
    /* margin-top: 10px; */
}

#third-buttons {
    padding: 0px 10px 0px 10px;
    /* margin-top: 10px; */
}

#bottom-buttons {
    display: flex;
    flex-direction: row;
    padding: 0px 10px 0px 10px;
    /* margin-top: 10px; */
}

#left-container {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
}

#right-container {
    flex-grow: 1;
}

button {
    flex-grow: 1;
    border-radius: 5px;
    background-color: lightsteelblue;
    width: 50px;
    height: 50px;
    font-size: large;
}

.equals-button {
    height: 100px;
}