#container {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 500px;
}

#display {
    height: 100px;
    width: 250px;
    border: 5px;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#bottom-buttons {
    display: flex;
    flex-direction: row;
}

#left-container {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
}

#right-container {
    flex-grow: 1;
}

button {
    flex-grow: 1;
    /* margin: 5px 5px 5px 5px; */
    border-radius: 5px;
    background-color: orange;
}

.double-sized {
    flex-grow: 2;
}