@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

body {
    background-color: rgb(71, 71, 71);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;

    h1 {
        font-family: 'Bebas Neue', cursive;
        font-size: 3em;
        color: white;
        text-transform: uppercase;
        margin-top: 0;
    }
}

#container {
    padding: .4em;
    display: grid;
    border: 3px solid rgb(177, 177, 177);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-gap: .2em;
    grid-template-areas: 
    "display    display     display     display"
    "display    display     display     display"
    "clear      del         percent     multiply"
    "seven      eight       nine        add     "
    "four       five        six         subtract"
    "one        two         three       calc    "
    "zero       zero        decimal     calc    "
    ;

    width: 250px;
    height: 400px;
    background-color: rgba(0, 128, 128, 0.527);
    border-radius: 10px;
    
    button {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        border: none;
        background-color: slategray;
        color: white;
        font-size: 1.5em;
        font-weight: 600;
        outline: none;

        transition: background-color linear .1s;

        &:hover {
            background-color: rgb(85, 98, 110);
        }

        &:active {
            background-color: rgb(52, 59, 66);
        }
    }

    #zero {
        grid-area: zero;
    }

    #calculate {
        grid-area: calc;
    }
    
}

#display {
    grid-area: display;
    margin: 10px 0 10px 0;
    padding: 10px 10px 10px 10px;
    border: 5px inset rgba(63, 72, 82, 0.226);
    border-radius: 10px;
    
    background-color: slategray;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    font-size: 3em;
    color: white;
}


#left-container {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
}

#right-container {
    flex-grow: 1;
}

.signature {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    background-color: steelblue;

    img {
        border-radius: 50%;
        max-height: 100px;
    }

    h2 {
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 1em;

        padding-left: 20px;
        line-height: 1.5em;
    }
}