@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap");
body {
  background-color: #474747;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

body h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 3em;
  color: white;
  text-transform: uppercase;
}

body h2 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

#container {
  padding: .4em;
  display: -ms-grid;
  display: grid;
  border: 3px solid #b1b1b1;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[7];
      grid-template-rows: repeat(7, 1fr);
  grid-gap: .2em;
      grid-template-areas: "display    display     display     display" "display    display     display     display" "clear      del         percent     multiply" "seven      eight       nine        add     " "four       five        six         subtract" "one        two         three       calc    " "zero       zero        decimal     calc    ";
  width: 250px;
  height: 400px;
  background-color: rgba(0, 128, 128, 0.527);
  border-radius: 10px;
}

#container button {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: none;
  background-color: slategray;
  color: white;
  font-size: 1.5em;
  font-weight: 600;
  outline: none;
}

#container #clear {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: clear;
}

#container #del {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: del;
}

#container #divide {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: percent;
}

#container #multiply {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: multiply;
}

#container #seven {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: seven;
}

#container #eight {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: eight;
}

#container #nine {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: nine;
}

#container #add {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  grid-area: add;
}

#container #four {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: four;
}

#container #five {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: five;
}

#container #six {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: six;
}

#container #subtract {
  -ms-grid-row: 5;
  -ms-grid-column: 4;
  grid-area: subtract;
}

#container #one {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: one;
}

#container #two {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
  grid-area: two;
}

#container #three {
  -ms-grid-row: 6;
  -ms-grid-column: 3;
  grid-area: three;
}

#container #zero {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: zero;
}

#container #decimal-point {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
  grid-area: decimal;
}

#container #calculate {
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: calc;
}

#display {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: display;
  margin: 10px 0 10px 0;
  padding: 10px 10px 10px 10px;
  border: 5px inset rgba(63, 72, 82, 0.226);
  border-radius: 10px;
  background-color: slategray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 3em;
  color: white;
}

#left-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

#right-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.signature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  padding: 20px;
  border-radius: 40px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: steelblue;
}

.signature img {
  border-radius: 50%;
  max-height: 100px;
}

.signature h2 {
  padding-left: 20px;
  line-height: 1.5em;
}
/*# sourceMappingURL=styles.css.map */